.reveal h1{
  font-size: 5rem;
  margin-bottom: 60px;
}

.reveal section img{
  border: 0;
  box-shadow: none;
}

.reveal section dl{
  text-align: left;
}

.reveal section dt{
  font-weight: bold;
}

.reveal section dd{
  margin-bottom: 20px;
}

.reveal pre code{
  max-height: 600px;
}

.reveal ul li{
  margin-bottom: 15px;
}

.reveal section.white-text * {
  color: white !important;
}

.reveal section.text-on-left p{
  text-align: left;
}